---
title: Teaching
---

<h1>Teaching</h1>
<hr>

<p>
A list of my past teaching activities.
</p>

<h4><strong>Teaching assistantships</strong></h4>

<p>
Responsibilities include: mark assignments, quizzes, exams, invigilate exams, office hours, tutorials, and various other duties.
</p>
<ul>
  {% for role in site.data.teaching_ta %}
  <li><span class="text-info">{{ role.location }}</span> - {{ role.courses }} <span class={% if role.now == true %}"text-warning"{% else %}"text-muted"{% endif %}>({{ role.period }})</span></li>
  {% endfor %}
</ul>
