{% if include.scheduled == true %}
<h5 class="fw-bold text-primary">{{ include.title }}</h5>
{% else %}
<h5 class="fw-bold">{{ include.title }}</h5>
{% endif %}

<ul>
  {% for talk in site.data.presentations %}
  {% if talk.scheduled == include.scheduled %}
  <li>
    <p>
      <em>{{ talk.title }}</em><br>
      {{ talk.event }} <a href="{{ talk.link }}">[link]</a>{% if talk.slides %}{% capture slides_link %}../assets/media/slides/{{ talk.slides }}{% endcapture %} <a href="{{ slides_link }}">[slides]</a>{% endif %} - {{ talk.type }} ({{ talk.loc }} - <span class="text-info">{{ talk.date }}</span>)
    </p>
  </li>
  {% endif %}
  {% endfor %}
</ul>
