{% if include.type == "submitted" %}
<h5 class="fw-bold text-info">{{ include.title }}</h5>
{% else %}
<h5 class="fw-bold">{{ include.title }}</h5>
{% endif %}

<ul>
  {% for item in site.data.publications %}
  {% if item.type == include.type %}
  <li>
    <p>
      {{ item.authors }}<br>
      {{ item.title }}<br>
      {{ item.citation }} <span class="text-muted">({{ item.date }})</span> <a href="{{ item.link }}">[link]</a>
      {% if item.preprint and item.citation %}</br>{% endif %}
      {% if item.preprint %}
      Preprint:
      <a href="{{ item.preprint }}">
        {% assign preprint_head = item.preprint | slice: 0, 18 %}
        {% if preprint_head == "https://arxiv.org/" %} 
        arXiv:{{ item.preprint | split: "/" | last }}
        {% else %}
        <span class="text-alert">INVALID LINK</span>
        {% endif %}
      </a>
      {% endif %}
    </p>
  </li>
  {% endif %}
  {% endfor %}
</ul>
