{% if include.type == "submitted" %}
<h5 class="fw-bold text-info">{{ include.title }}</h5>
{% else %}
<h5 class="fw-bold">{{ include.title }}</h5>
{% endif %}

<ul>
  {% for item in site.data.publications %}
  {% if item.type == include.type %}
  <li>
    <p>
    {% if item.type == "journal paper" %}
      {{ item.authors }}<br>
      <i>{{ item.title }}</i><br>
      {{ item.citation }} <span class="text-muted">({{ item.date }})</span> <a href="{{ item.link }}">[link]</a>
      {% if item.preprint %}
      <br>
      {% include preprint_line.html %} 
      {% endif %}
    {% elsif item.type == "conference abstract" %}
      {{ item.authors }}<br>
      {{ item.title }}<br>
      In: <i>{{ item.in }}</i>, {{ item.citation }} <span class="text-muted">({{ item.date }})</span> <a href="{{ item.link }}">[link]</a>
      {% if item.preprint %}
      <br>
      {% include preprint_line.html %}
      {% endif %}
    {% elsif item.type == "submitted" %}
      {{ item.authors }}<br>
      <i>{{ item.title }}</i><br>
      {% include preprint_line.html %}
   {% endif %}
    </p>
  </li>
  {% endif %}
  {% endfor %}
</ul>
