---
title: Awards
---

<h1>Awards and Recognition</h1>
<hr>

<p>
Below is a list of major scholarships and awards I have received, sorted by date with most recent at the top.
</p>

{% include recognition_section.html title="Academic recognition" description="General recognition for various academic activities." %}

{% include award_section.html during="PhD" title="Doctoral scholarships" description="Held during my PhD in Mathematics at Simon Fraser University." %}

{% include award_section.html during="MSc" title="Master's scholarships" description="Held during my MSc in Applied Mathematics at Simon Fraser University." %}

{% include award_section.html during="BSc" title="Undergraduate scholarships" description="Held during my BSc in Mathematics Honours at Simon Fraser University."%}
