---
title: Events
---

<h1>Events and Activities</h1>
<hr>

<p>
A list of upcoming and past events, sorted by date. These include workshops and competitions I participated in, and conferences I attended.
</p>

{% assign ev1 = "upcoming" %}
{% assign ev2 = "past" %}

{% for item in site.data.events %}
  {% if item.type == ev1 %}
    {% include events_section.html title="Upcoming events" type=ev1 %}
    {% break %}
  {% endif %}
{% endfor %}

{% for item in site.data.events %}
  {% if item.type == ev2 %}
    {% include events_section.html title="Past events" type=ev2 %}
    {% break %}
  {% endif %}
{% endfor %}
