---
title: Teaching
---

<h1>Teaching</h1>
<hr>

<p>
A list of my past teaching activities, sorted by date with most recent at the top.
</p>

<h2 class="fw-bold">Teaching assistantships</h2>

<p>
Responsibilities: mark assignments, quizzes, exams, invigilate exams, office hours, tutorials, create solution rubrics, and various other duties.
</p>

<p>At <b>Simon Fraser University</b> during my master's and undergraduate program:</p>

<ul>
  {% for role in site.data.teaching_ta %}
  <li>
    <p>
    {{ role.courses }} <span class={% if role.now == true %}"text-info"{% else %}"text-secondary"{% endif %}>({{ role.period }})</span>
    </p>
  </li>
  {% endfor %}
</ul>


